 

/* The container sets the width as a percentage of the browser window and margin 0 auto centers the page
 Note that all measurements are in relative units*/
	
.container {
    height: auto;
    margin: .5em;
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: #eaeced;
    text-align: center;
    background-color: #164172;
    font-size: 1.8em;
    padding: .8em 0 .8em 0;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: #260226;
    padding: 5% 0 3% 0;
}

p {
    font-family: Roboto;
    font-size: 1em;
    line-height: 1.6em;
}

blockquote{
    background: rgba(112, 111, 126, 0.65);
    padding: .5em;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(112, 111, 126, 0.45);
    font-family: Georgia,serif;
    line-height: 1.5em;
    color:#eaeced;
    text-indent: 1.5em;
    quotes:"\201C" "\201D";  
}

/*Here are two pseudo class selectors to apply tp blockquote*/
blockquote:before {
    content: open-quote;
    font-family: Georgia,serif;
    font-size: 1.7em;
    font-weight: 700;
}

blockquote:after {
    content: close-quote;
    font-family: Georgia,serif;
    font-size: 1.7em;
    font-weight: 700;
}

section {
    padding: 3% 2% 2% 2%;
    text-align: left;
    background-color: #dce0e6;
    overflow: hidden;
}

section h3 {
    font-size: 1.8em;
    text-align: center;
    padding: 8% 0 0 0;
}

section p {
    font-size: 1em;
    line-height: 1.6;
}

/*This sets the maximum width of the image to no more than the containing element*/
img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
   
    text-align: justify;
    background-color: #dce0e6;
    padding: 0 2% 4% 2%;
    overflow: hidden;
}

em {
    font-size: 1.2em;
    font-style: italic;
    color: #706f7e;
    display: block;
    padding: 0 0 1% 0;
}

.professional {
    margin: 3% 0 0 0;
}

.professional p{
    margin: 0 0 1% 0;
}

/*Start of Nav menu*/

 /*This sets the font size and removes the default bullets from the ul list. Also sets the overall with of the ul as a percentage of the containing element*/
nav ul {
    margin: 0;
    padding: 1% 0 1% 0;
    overflow: hidden;
    background-color:#706f7e;
    width: 100%;
    font-size: 1.2em;
}

/*This sets the list items to display as blocks, with links within each list item floating next to each other within each block with a right margin to seperate each block*/
nav ul li {
    display: block;
    padding: 1% 0 1% 0;
    margin: 0 0 0 0%;
}

/*Sets each a link to display as block. Sets the color of the background of blocks and text and centers text in box*/
nav ul li a {
    display: block;
    text-decoration: none;
    background: #706f7e;
    font-family: 'Nunito', sans-serif;
    color: #f4f4f4;
    font-weight: 400;
    text-align:center;
}

a:link {
    color: #bacae2;
}

a:hover { 
    color: #eaeced; 
}

nav ul li a:visited { 
    color: #bfaf83; 
}

/* END nav MENU */

/*List of office hours*/
ul li {
    font-family: Roboto;
    line-height: 1.4em;
    margin-left: 3em;
}

footer {
    height: auto;
    color: #eaeced;
    background-color: #164172;
    font-family: sans-serif;
    text-align: center;
    padding: 3% 0 3% 0;
}

.footertext {
    display: block;
    font-size: 1.2em;
}
